<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <httpRuntime maxRequestLength="2147483647"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <appSettings>
    <add key="apns_certificate_path" value="E:\Projects\MobileCMS\PACP Project\openSSL\bin\pacp_prod.p12"/>
    <add key="apns_Pass_Phrase" value="pacp123"/>
    <add key="gcm_applicationId" value="AIzaSyBfHCkNwarsjtIs9CsRN81UKzZpmVWoryQ"/>
    <add key="gcm_sender_Id" value="active-district-761"/>
    <add key="message" value="You have a new Notification "/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IPacp" maxReceivedMessageSize="2147483647"
				  maxBufferPoolSize="2147483647" receiveTimeout="01:10:00" openTimeout="01:10:00" >
          <readerQuotas maxDepth="2147483647"
											  maxStringContentLength="2147483647"
											  maxArrayLength="2147483647"
											  maxBytesPerRead="2147483647"
											  maxNameTableCharCount="2147483647" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/MobileCMSService/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPacp" contract="PacpService.IPacp" name="WSHttpBinding_IPacp">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>