<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPacp"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.79/Pacp/PacpService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPacp" contract="PacpService.IPacp" name="BasicHttpBinding_IPacp"/>
    </client>
  </system.serviceModel>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>