<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
	  <bindings>
		  <wsHttpBinding >
			  <binding name="wsHttpBinding"  maxReceivedMessageSize="2147483647"
				  maxBufferPoolSize="2147483647" receiveTimeout="01:10:00" openTimeout="01:10:00" >
				  <readerQuotas maxDepth="2147483647"
											  maxStringContentLength="2147483647"
											  maxArrayLength="2147483647"
											  maxBytesPerRead="2147483647"
											  maxNameTableCharCount="2147483647" />
			  </binding>
		  </wsHttpBinding>
	  </bindings>
    <services>
      <service name="Pacp.PacpService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpBinding" contract="Pacp.IPacp" >
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses >
            <add baseAddress="http://localhost/MobileCMSService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <!--<add name="PacpDbEntities" connectionString="metadata=res://*/PACP.csdl|res://*/PACP.ssdl|res://*/PACP.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=PacpDb;Persist Security Info=True;User ID=sa;Password=iton@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="PacpDbEntities" connectionString="metadata=res://*/PACP.csdl|res://*/PACP.ssdl|res://*/PACP.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.2.247;Initial Catalog=PacpDb;User ID=sa;Password=iton@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="PacpDbEntities" connectionString="metadata=res://*/PACP.csdl|res://*/PACP.ssdl|res://*/PACP.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.5.140;Initial Catalog=PacpDb;User ID=sa;Password=click123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="PacpDbEntities" connectionString="metadata=res://*/PACP.csdl|res://*/PACP.ssdl|res://*/PACP.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=212.72.1.228;Initial Catalog=pacp_gov_om_mobileCMS;User ID=mobilecms;Password=s0ftw@r3!;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /> -->
  </connectionStrings>
  <!--<add name="PacpDbEntities" connectionString="metadata=res://*/PACP.csdl|res://*/PACP.ssdl|res://*/PACP.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=PacpDb;Persist Security Info=True;User ID=sa;Password=iton@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  metadata=res://*/PacpModel2.csdl|res://*/PacpModel2.ssdl|res://*/PacpModel2.msl;provider=System.Data.SqlClient;provider connection string="Data Source=.;Initial Catalog=PacpDb;Persist Security Info=True;User ID=sa;Password=iton@123;MultipleActiveResultSets=True"-->
</configuration>